.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (max-width: 470px) {
  .imageBlock {
    display: none;
    overflow-y: hidden;
  }
}
@media (min-width: 470px) {
  .imag {
    display: none;
  }
}